@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The <label>Secret</label> navigation link in top navigation ribbon is hidden when user is not logged in.</p>
    <p>It is visible when user is signed in!</p>
</div>
